<div class="jumbotron text-center">
	<h1>User Registration</h1>

	<p>{{ tagline }}</p>
	<center>
	<div class="event-create">
		<input class="form-control" type="text" ng-model="user.name" placeholder="User name"/>
		<input class="form-control" type="text" ng-model="user.email" placeholder="Email"/>
		<input class="form-control" type="password" ng-model="user.password" placeholder="Password">
		<input class="form-control" type="password" ng-model="user.password" placeholder="Re-enter Password"> 

		<button class="btn btn-primary" type="button" ng-click="createUser()">Create User</button>

		<button class="btn btn-primary" type="button" ng-click="">Back</button>

	</div>
	</center>
	

<!--	<div class="panel panel-default"> -->
        <!-- Default panel contents -->
        <!--<div class="panel-heading">Your login details</div> -->

        <!-- Table -->
        <!-- <table class="table primary " >
            <th>
                <td>User Name</td>
                <td>User email</td>
                <td>User password</td>
            </th>
            <tr ng-repeat="user in registration">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>

            </tr>
        </table>
    </div> --> 

</div>
