
#event{
    transition: 0.75s all ease-out;
}

#event.ng-hide-add, #event.ng-hide-remove
{
    display: block !important;
}

#event.ng-hide-remove, #event.ng-hide-add.ng-hide-add-active{
    /*margin-left: -80px;*/
    margin-top: -20px;
    opacity: 0;
}

#event.ng-hide-remove.ng-hide-remove-active, #event.ng-hide-add{
    /*margin-left: 0;*/
    margin-top: 0;
    opacity: 1;
}

.event-list{
    width: 230px;
}

.event-list span{
    font-size: 100%;
}

.event-create{
    width: 390px;
    padding-bottom: 10px;
}

.ng-enter{
    transition:0.75s;
    opacity: 0;
}
.ng-enter-active{
    opacity: 1;
}
.ng-leave{}
.ng-leave-active{}

.event-create input[type], textarea{
    margin-bottom: 5px;
}